/* HEX COLORS */

.color{
    color:#ffa500;
}
.color1{
    color:#ff8c00;
}
.color2{
    color:#ff991c;
}
.color3{
    color:#be5103;
}
.color4{
    color:#e86100;
}
.color5{
    color:#e6812f;
}
.color6{
    color:#ffb343;
}